In [1]:
# print_function for compatibility with Python 3
from __future__ import print_function
# NumPy and Pandas
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# Matplotlib, and remember to display plots in the notebook
from matplotlib import pyplot as plt
%matplotlib inline
# Seaborn for easier visualization
import seaborn as sns

In [2]:
#load contribution data as a Dataframe
fec = pd.read_csv('dataset/P00000001-ALL.csv')

C:\Users\Richard\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
#print first five observations to understand column attributes
fec.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,party
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290.000,RETIRED,RETIRED,250.000,20-JUN-11,NaN,NaN,NaN,SA17A,736166,NaN
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290.000,RETIRED,RETIRED,50.000,23-JUN-11,NaN,NaN,NaN,SA17A,736166,NaN
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,368633403.000,INFORMATION REQUESTED,INFORMATION REQUESTED,250.000,05-JUL-11,NaN,NaN,NaN,SA17A,749073,NaN
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253.000,NONE,RETIRED,250.000,01-AUG-11,NaN,NaN,NaN,SA17A,749073,NaN
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,719016467.000,NONE,RETIRED,300.000,20-JUN-11,NaN,NaN,NaN,SA17A,736166,NaN

In [5]:
#print columns and rows numbers
fec.shape

(1001731, 16)

In [6]:
#print location series to review column attributes
fec.iloc[123456:123461]

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
123456,C00431445,P80003338,"Obama, Barack","ELLMAN, IRA",TEMPE,AZ,852816719,ARIZONA STATE UNIVERSITY,PROFESSOR,50.000,01-DEC-11,NaN,NaN,NaN,SA17A,772372
123457,C00431445,P80003338,"Obama, Barack","HOETKER, NANCY",SCOTTSDALE,AZ,852592805,HOETKER FAMILY,HOMEMAKER,25.000,30-OCT-11,NaN,NaN,NaN,SA17A,772372
123458,C00431445,P80003338,"Obama, Barack","BARR, JANICE I.",SUN CITY,AZ,853731753,RETIRED,REALTOR,100.000,23-NOV-11,NaN,NaN,NaN,SA17A,772372
123459,C00431445,P80003338,"Obama, Barack","EILBERT, NATASHA",YUMA,AZ,53713,KOFA HIGH SCHOOL,TEACHER,250.000,23-DEC-11,NaN,NaN,NaN,SA17A,772372
123460,C00431445,P80003338,"Obama, Barack","GENINATTI, MARILYN",PARADISE VALLEY,AZ,852535160,ARIZONA EMERGENCY SPECIALISTS,EMERGENCY AND WOUND CARE PHYSICIAN,250.000,01-DEC-11,NaN,NaN,NaN,SA17A,772372

In [8]:
#write unique_cands to determine categorical data from cand_nm
unique_cands = fec.cand_nm.unique()

In [9]:
unique_cands

array(['Bachmann, Michelle', 'Romney, Mitt', 'Obama, Barack',
       "Roemer, Charles E. 'Buddy' III", 'Pawlenty, Timothy',
       'Johnson, Gary Earl', 'Paul, Ron', 'Santorum, Rick', 'Cain, Herman',
       'Gingrich, Newt', 'McCotter, Thaddeus G', 'Huntsman, Jon',
       'Perry, Rick'], dtype=object)

In [10]:
#create a dictionary to indicate party affiliation

parties = {'Bachman, Michell' : 'Republican',
          'Cain, Herman' : 'Republican',
          'Gingrich, Newt' : 'Republican',
          'Huntsman, Jon' : 'Republican',
          'Johnson, Gary Earl' : 'Republican',
          'McCotter, Thaddeus G' : 'Republican',
          'Obama, Barack' : 'Democrat',
          'Paul, Ron' : 'Republican',
          'Pawlenty, Timothy' : 'Republican',
          'Perry, Rick' : 'Republican',
          "Roemer, Charles E. 'Buddy' III" : 'Republican',
          'Romney, Mitt' : 'Republican',
          'Santorum, Rick' : 'Republican'}

In [12]:
#print candidate(s) from above iloc

fec.cand_nm[123456 : 123461]

123456    Obama, Barack
123457    Obama, Barack
123458    Obama, Barack
123459    Obama, Barack
123460    Obama, Barack
Name: cand_nm, dtype: object

In [13]:
#use the <map> method to compute an array of political parties from candidate names

fec.cand_nm[123456 : 123461].map(parties)

123456    Democrat
123457    Democrat
123458    Democrat
123459    Democrat
123460    Democrat
Name: cand_nm, dtype: object

In [15]:
#add mapping of party affiliation dictionary as a separate column

fec['party'] = fec.cand_nm.map(parties)

In [16]:
#print counts of party affliation

fec['party'].value_counts()

Democrat      593746
Republican    394845
Name: party, dtype: int64

In [19]:
#determine the number of refunds (e.g., 'contb_receipt_amt <= 0')

(fec.contb_receipt_amt > 0).value_counts()

True     991475
False     10256
Name: contb_receipt_amt, dtype: int64

In [20]:
#limit the data to only positive (e.g., non-refunded) contributions

fec = fec[fec.contb_receipt_amt > 0]

In [21]:
#check work

(fec.contb_receipt_amt > 0).value_counts()

True    991475
Name: contb_receipt_amt, dtype: int64

In [22]:
#prepare a subset for the main candidates, Obama and Romney

fec_mrbo = fec[fec.cand_nm.isin(['Obama, Barack', 'Romney, Mitt'])]

In [24]:
fec_mrbo.shape

(694282, 17)