In [1]:
# print_function for compatibility with Python 3
from __future__ import print_function
# NumPy and Pandas
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# Matplotlib, and remember to display plots in the notebook
from matplotlib import pyplot as plt
%matplotlib inline
# Seaborn for easier visualization
import seaborn as sns

In [2]:
fec = pd.read_csv('dataset/P00000001-ALL.csv')

C:\Users\Richard\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
fec.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290.000,RETIRED,RETIRED,250.000,20-JUN-11,NaN,NaN,NaN,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290.000,RETIRED,RETIRED,50.000,23-JUN-11,NaN,NaN,NaN,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,368633403.000,INFORMATION REQUESTED,INFORMATION REQUESTED,250.000,05-JUL-11,NaN,NaN,NaN,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253.000,NONE,RETIRED,250.000,01-AUG-11,NaN,NaN,NaN,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,719016467.000,NONE,RETIRED,300.000,20-JUN-11,NaN,NaN,NaN,SA17A,736166

In [4]:
fec.iloc[123456:123461]

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
123456,C00431445,P80003338,"Obama, Barack","ELLMAN, IRA",TEMPE,AZ,852816719,ARIZONA STATE UNIVERSITY,PROFESSOR,50.000,01-DEC-11,NaN,NaN,NaN,SA17A,772372
123457,C00431445,P80003338,"Obama, Barack","HOETKER, NANCY",SCOTTSDALE,AZ,852592805,HOETKER FAMILY,HOMEMAKER,25.000,30-OCT-11,NaN,NaN,NaN,SA17A,772372
123458,C00431445,P80003338,"Obama, Barack","BARR, JANICE I.",SUN CITY,AZ,853731753,RETIRED,REALTOR,100.000,23-NOV-11,NaN,NaN,NaN,SA17A,772372
123459,C00431445,P80003338,"Obama, Barack","EILBERT, NATASHA",YUMA,AZ,53713,KOFA HIGH SCHOOL,TEACHER,250.000,23-DEC-11,NaN,NaN,NaN,SA17A,772372
123460,C00431445,P80003338,"Obama, Barack","GENINATTI, MARILYN",PARADISE VALLEY,AZ,852535160,ARIZONA EMERGENCY SPECIALISTS,EMERGENCY AND WOUND CARE PHYSICIAN,250.000,01-DEC-11,NaN,NaN,NaN,SA17A,772372

In [5]:
unique_cands = fec.cand_nm.unique()

In [6]:
unique_cands

array(['Bachmann, Michelle', 'Romney, Mitt', 'Obama, Barack',
       "Roemer, Charles E. 'Buddy' III", 'Pawlenty, Timothy',
       'Johnson, Gary Earl', 'Paul, Ron', 'Santorum, Rick', 'Cain, Herman',
       'Gingrich, Newt', 'McCotter, Thaddeus G', 'Huntsman, Jon',
       'Perry, Rick'], dtype=object)